<form action="/create_participant_from_event" method="post">

  <input type="hidden" name="event_id" value="<%= @event.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @participant.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @participant.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create participant
  </button>
</form>
