<h1>
  Edit event #<%= @event.id %>
</h1>

<hr>

<!-- Form event start -->
<form action="/update_event/<%= @event.id %>" method="post">
<!-- Form event end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <input type="text" id="venue_id" name="venue_id" class="form-control" value="<%= @event.venue_id %>">
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
