<!-- Validation failure messages -->
<% if @event.present? %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new event
</h1>


<hr>

<!-- Form event start -->
<form action="/create_event" method="post">
<!-- Form event end -->

  <!-- Label and input for venue_id start -->
  <div class="form-group">
    <label for="venue_id">
      Venue
    </label>

    <!-- Input for venue_id start -->
    <%= select_tag(:venue_id, options_from_collection_for_select(Restaurant.all, :id, :address, @event.venue_id), :class => "form-control") %>
    <!-- Input for venue_id end -->
  </div>
  <!-- Label and input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create event
  </button>
</form>

<hr>

<a href="/events">
  Go back
</a>
