<% if @participant.present? %>
  <% if @participant.errors.any? %>
    <% @participant.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new participant
</h1>


<hr>

<form action="/create_participant" method="post">

  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :venue_id, @participant.event_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @participant.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @participant.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create participant
  </button>
</form>

<hr>

<a href="/participants">
  Go back
</a>
