<form action="/create_event_from_restaurant" method="post">

  <input type="hidden" name="venue_id" value="<%= @restaurant.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create event
  </button>
</form>
