<!-- Form event start -->
<form action="/create_event_from_restaurant" method="post">
<!-- Form event end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <input type="hidden" name="venue_id" value="<%= @restaurant.id %>">
  <!-- Input for venue_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create event
  </button>
</form>
