<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Ratings

    <a data-toggle="collapse" href="#restaurant_ratings_new_form">
      Add rating
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @restaurant.ratings.each do |rating| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/ratings/<%= rating.id %>">
          <%= rating.user_id %>
        </a>

        <%if current_user == rating.user %>
          <a href="/delete_rating_from_restaurant/<%= rating.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="restaurant_ratings_new_form">
        <%= render partial: "restaurant_templates/restaurant_ratings_new_form" %>
      </div>
    </div>

  </ul>
</div>
